.selectButton {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-family: Montserrat;
  cursor: pointer;
  width: 22%;
  text-align: center;
  margin-top: 5px;
}

.selectButton:hover {
  background-color: gold;
  color: black;
}
